*.class
*.log

/target/
/project/target/
/project/project/
/project/.bloop/
/project/metals.sbt
/.bsp/
/.idea/
/.bloop/
/.metals/
/.vscode/

/local-development/graboid-commands/*.cbor

/arangodb/data/target/
/arangodb/farango-zio-starter/target/
/arangodb/query/target/

/cbor/core/target/
/cbor/quakeml/target/

/core/target/

/ducktape/jts/target/

/graboid/target/
/graboid-protocol/target/
/graboid-protocol-testkit/target/

/kafka/zkafka/target/

/logging/target/

/quakeml/target/

/testkit/core/target/
/testkit/graboid-protocol/target/
/testkit/quakeml/target/
/testkit/zio-grpc/target/
/testkit/zio-repository/target/
/testkit/zio-testcontainers/target/

/toph-message-protocol/target/
/toph/target/

/webapi/target/
/webapi/.bloop/

/zio-app-starter/target/