/target/
/project/target/
/project/project/
/project/.bloop/
/.idea/
/.bsp/
/.bloop/
/.metals/
/.vscode/
/project/metals.sbt


/graboid/target/
/toph/target/
/toph-it/target/
/zio/kafka/target/
/zio/starter/target/
/zio/farango/target/
/generator/target/
/graboid-it/target/
/graboid-protocol/target/
/graboid-commands/**/*.cbor
/core/target/
/zio/core/target/
/quakeml/target/
/zio/http/target/

