*.class
*.log

/target/
/project/target/
/project/project/
/project/.bloop/
/project/metals.sbt
/.bsp/
/.idea/
/.bloop/
/.metals/
/.vscode/

/webapp1/target/
/webapp1/.bloop/
/webapp-core/target/
/webapp-core/.bloop/
/graboid/target/
/logging/target/
/farango/target/
/ziorango/target/
/quakeml/target/
/quakeml-cbor/target/
/quakeml-testkit/target/
/zio-testcontainers/target/
/zio-app-starter/target/
