@import url("variables.less");

div.dialog {
  // background-color: @dialog-background-color;
  background: linear-gradient(to right, @dialog-background-color-border, @dialog-background-color-center, @dialog-background-color-border);
  box-shadow: 0.2rem 0.2rem  0.4rem @dialog-box-shadow;
  border: 1px solid @dialog-border-color;
  position: absolute;
  bottom: 66px;
  left: 60px;
  padding: 0.5rem;

  z-index: 5;

  .dialog-title {
    border-bottom: 2px solid @dialog-title-border-color;
    cursor: grab;
    user-select: none;
    white-space: nowrap;
    position: relative;

    div {
      margin: 0.5rem calc(14px + 0.5rem) 0.5rem 0.5rem;
      display: inline-block;
    }

    .close {
      background-image: url("images/close.png");
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      width: 14px;
      height: 14px;
      margin: 0px;
      padding: 0px;
      border: none;
      top: calc(50% - 7px);
      right: 0px;
    }
  }

  .dialog-content {
    margin: 0.5rem;
  }
}