.login-method {

  button {
    display: block;
    width: 25rem;
    &:nth-child(n+1) {
      margin-top: 1rem;
    }

    .icon {
      background-image: url("images/login-method-logos.png");
      float: left;
      width: 32px;
      height: 32px;
    }

    span {
      float: left;
      margin-left: 1rem;
      line-height: 32px;
    }

    @methods: twitter microsoft facebook google;

    each(@methods, {
      &.@{value} {
        .icon {
          background-position-x: (@index - 1) * -32px;
        }
      }
    });
}
}