@import url("variables.less");

.login-method {

  button {
    width: 25rem;
    display: flex;

    &:nth-child(n+1) {
      margin-top: 1rem;
    }

    .icon {
      background-image: url("images/login-method-logos.png");
      width: 32px;
      height: 32px;
    }

    span {
      margin-left: 1rem;
      align-self: center;
    }

    @methods: twitter microsoft facebook google;

    each(@methods, {
      &.@{value} {
        .icon {
          background-position-x: (@index - 1) * -32px;
        }
      }
    });
}
}