@import url("font.css");
@import url('variables.less');
@import url('main-view.less');
@import url('dialog.less');
@import url('form.less');
@import url('account.less');
@import url('ui.less');
@import url('login.less');

html,
body,
div#__nuxt,
div#__nuxt>div {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

* {
  font-family: 'Roboto Mono';
  font-size: small;
}

button {
  cursor: pointer;
}