@import "variables.less";
@import "fonts.css";

html,
body,
div#__nuxt,
div#__nuxt>div {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

html {
  font-size: small;
}

img.logo {
  position: fixed;
  display: block;

  background-color: #ffffff;
  height: 32px;
  right: 12px;
  top: 12px;
  width: 110px;
  z-index: 100;
}

@import "view.less";
@import "lang.less";
@import "dialog.less";
@import "login.less";