button {
  background-color: @ui-button-background-color;
  border: 3px solid @ui-button-border-color;
  padding: 1rem;

  &:hover {
    background-color: darken(@ui-button-background-color, 10);
    border-color: darken(@ui-button-border-color, 10);
  }
}