@toolbox-box-shadow-color: #00000083;
@toolbox-border-color: #000;

@toolbox-button-background-color: #f1f1f1;
@toolbox-button-background-color-hover: darken(@toolbox-button-background-color, 10);

@tooltip-background-color: #2e2e2e;
@tooltip-color: #fff;

@dialog-box-shadow: #79696933;

@dialog-background-color: #f7f7f7;
@dialog-background-color-center: @dialog-background-color;
@dialog-background-color-border: darken(@dialog-background-color-center, 5);

@dialog-title-border-color: #67a9ff;
@dialog-button-background-color: #e9e9e9;
@dialog-button-border-color: #464646;

@field-input-border-color: #8b8b8b;
@field-border-bottom-color: darken(@dialog-background-color, 30);


@ui-button-background-color: darken(@dialog-background-color, 10);
@ui-button-border-color: darken(@dialog-background-color, 20);