@toolbox-box-shadow-color: #0000007c;
@toolbox-border-color: #000;

@toolbox-button-background-color: #f1f1f1;
@toolbox-button-background-color-hover: darken(@toolbox-button-background-color, 10);
@toolbox-button-has-dialog-background-color: darken(@toolbox-button-background-color, 50);

@tooltip-background-color: #2e2e2e;
@tooltip-color: #fff;

@dialog-background-color: #f7f7f7;
@dialog-background-color-center: @dialog-background-color;
@dialog-background-color-border: darken(@dialog-background-color-center, 5);

@dialog-box-shadow: #0000007c;
@dialog-border-color: darken(@dialog-background-color, 20);

@dialog-title-border-color: #67a9ff;
@dialog-button-background-color: #e9e9e9;
@dialog-button-border-color: #464646;

@field-input-border-color: #8b8b8b;
@field-border-bottom-color: darken(@dialog-background-color, 30);


@ui-button-background-color: darken(@dialog-background-color, 10);
@ui-button-border-color: darken(@dialog-background-color, 20);

@ui-checkbox-border-color: darken(@dialog-background-color, 20);
@ui-checkbox-checked-color: #67a9ff;

@ui-radio-border-color: darken(@dialog-background-color, 20);
@ui-radio-border-checked-color: darken(@ui-radio-border-color, 20);
@ui-radio-checked-background-color: #67a9ff;

@ui-input-text-background-color: #ffffff;

@layer-list-background-color: lighten(@dialog-background-color, 20);
@layer-list-border-color: darken(@layer-list-background-color, 50);

@layer-list-item-background-color: darken(@layer-list-background-color, 5);
@layer-list-item-background-color-hover: darken(@layer-list-background-color, 2.5);
@layer-list-item-box-shadow-color: fadeout(darken(@layer-list-item-background-color, 30), 50);

@layer-list-item-name-background-color: transparent;
@layer-list-item-name-border-color: @dialog-title-border-color;
@layer-list-item-name-color: #180b0b;