<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="console"/>
        </Root>

        <Logger name="io.netty" level="OFF"/>
        <Logger name="io.vertx" level="OFF"/>
        <Logger name="com.arangodb" level="ERROR"/>
        <Logger name="zio" level="WARN"/>
        <Logger name="org.apache.kafka" level="WARN"/>

    </Loggers>
</Configuration>